@import 'tailwindcss';
@import './App.css';
@import './tailwind.config.css';
@import 'tailwindcss' important;

html,
body {
  background-color: #000;
}

input {
  outline: none;
  box-shadow: none;
  border: none;
}

input:focus {
  outline: none;
  box-shadow: none;
  border: none;
}
